<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.min.js"></script>
    <style>
        .container{
            width:500px;height:auto;

            margin:auto;
        }
        .container .box{
            width:100%;
        }
        ul,li{
            padding:0;margin:0;list-style: none;
        }
       .opt{
           width:10px;height:10px;
           border:1px solid #000;
           border-radius: 50%;
           display: inline-block;

       }
        .red{
            background: red;
        }
    </style>
</head>
<body>
         <div class="container">
             <div class="box">
                 <input type="text" @keydown.13="add()" v-model="text"><br>


                 <ul v-if="state=='all'">
                     <li v-for="item in all">
                         <span class="opt" @click="change(item.id,item.status)" :class={red:item.status==2}></span>
                         {{item.con}}
                         <span @click="del(item.id,item.status)">删除</span>
                     </li>
                 </ul>

                 <ul v-if="state=='done'">
                     <li v-for="item in done">
                         <span class="opt" @click="change(item.id,item.status)"></span>
                         {{item.con}}
                         <span @click="del(item.id,item.status)">删除</span>
                     </li>
                 </ul>


                 <ul v-if="state=='undo'">
                     <li v-for="item in undo">
                         <span class="opt" @click="change(item.id,item.status)"></span>
                         {{item.con}}
                         <span @click="del(item.id,item.status)">删除</span>
                     </li>
                 </ul>

                 <div class="btns">
                     <input type="button" value="全部" @click="changeStatus('all')">
                     <input type="button" value="已完成" @click="changeStatus('done')">
                     <input type="button" value="未完成" @click="changeStatus('undo')">
                 </div>
             </div>
         </div>
</body>
<script>
    new Vue({
        el:".container",
        data:{
            text:"",
            all:[],
            done:[],
            undo:[],
            state:"all"
        },
        methods:{
            add:function(){
                var obj={};
                obj.con=this.text;
                obj.id=1000*Math.random()+new Date().getTime();
                obj.status=1
                this.all.push(obj);
                this.undo.push(obj);
                this.text="";
            },
            change:function(id,status){
               if(status==1){
                   //1.  在all数组 的背景 红
                  var arr=this.all.filter(function(val){
                      return val.id==id;
                  })
                   arr[0].status=2;
                  // 2. 放到 已完成数组里面

                   this.done.push(arr[0]);

                   //3. 未完成的数组里面删掉

                   this.undo=this.undo.filter(function(val){
                       return val.id!=id;
                   })

               }else{
                   //1.  在all数组 的背景 正常
                   var arr=this.all.filter(function(val){
                       return val.id==id;
                   })
                   arr[0].status=1;
                   // 2. 放到 未完成数组里面

                   this.undo.push(arr[0]);

                   //3. 完成的数组里面删掉

                   this.done=this.done.filter(function(val){
                       return val.id!=id;
                   })
               }
            },
            del:function(id,status){
                if(status==1){
                        this.all=this.all.filter(function(val){
                            return val.id!=id;

                        })
                    this.undo=this.undo.filter(function(val){
                        return val.id!=id;

                    })

                }else{
                    this.all=this.all.filter(function(val){
                        return val.id!=id;

                    })
                    this.done=this.done.filter(function(val){
                        return val.id!=id;

                    })
                }

            },
            changeStatus:function(state){
                this.state=state;
            }
        }

    })
</script>
</html>