<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.min.js"></script>
</head>
<body>
    <div class="vue" id="one">
        <input type="text" v-model="one">
        +
        <input type="text" v-model="two">
        =
        <span>{{sum()}}</span>
        <span>利率：0.003</span>
        <span>利息：{{result()}}</span>

    </div>

</body>
</html>